---
layout: post
title: Projects
permalink: /projects/
date: 2022-06-30
---

<style>
    fieldset {
        margin-bottom: 20px;
    }

    legend {
        color: #fff;
        padding: 3px 6px;
        background-color: #000;
        margin-bottom: 1em;
        box-shadow: 0px 2px 10px gray;
    }

    legend p {
        margin-bottom: 0;
    }

    legend h2 {
        margin-bottom: 0;
        color: #fff;
    }
</style>

<p>
  This is where I showcase some of the cool and fun coding projects that I have
  worked on. I love coding and learning new things, and these projects reflect
  that. I'd love to hear your feedback and suggestions, so feel free to 
  <a href="mailto:aarav@hattangadi.com">contact me</a> anytime, or leave a 
  comment below.
</p>

<hr>

<div class="projects">
    {% for project in site.data.projects %}
        <div class="project">
            <fieldset>
                <legend>
                    <h2>{{project.name}}</h2>
                    <p> <em>{{ project.tech_stack }}</em> </p>
                </legend>
                <p>{{ project.description }}</p>
                <p>
                    
                    {% if project.interactive_link %}
                    <a href="{{ project.link }}">Code</a> &nbsp; | &nbsp; <a href="{{ project.interactive_link }}">Demo &hellip;</a>

                    {% else %}
                    <a href="{{ project.link }}">Code &hellip;</a>
                    {% endif %}
                </p>
            </fieldset>
        </div>
    {% endfor %}
</div>