<div class="link-wrapper" style="margin-bottom: 20px">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }

      ul.link a.navlink {
        color:var(--clr-a-text);
      }

      ul.link a.navlink:hover {
        color:var(--clr-a-text-hvr);
      }
      
    </style>
    <ul class="link">
      <li><a href="/about" class="navlink">About Me</a></li>
      <li><a href="/projects" class="navlink">Projects</a></li>
      <br>
      {%- for platform in site.sidebar %}
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
       <li><a href="{{ platform.link }}" rel="me">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
      {%- endfor %}
    </ul>
  </div>